<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="__ROOT__/favicon.ico" />
    <link rel="bookmark" href="__ROOT__/favicon.ico" type="image/x-icon" />

    <title>步步坚商城</title>
    <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">

    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/templet/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/templet/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/templet/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/templet/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/responsive.css" rel="stylesheet">
    <link rel='stylesheet' property='stylesheet'  href='__PUBLIC__/Home/templet/css/themecss/cpanel.css' type='text/css' media='all' />
</head>

<body class="common-home res layout-home1">

<div id="wrapper" class="wrapper-full banners-effect-7"  ng-app="app">
    <!-- Header Container  -->
    <include file="Common/header"/>
    <!-- //Header Container  -->

    <section class="so-spotlight1 ">
        <div class="container">
            <div class="row">
                <div id="yt_header_right" class="col-lg-offset-2 col-lg-10 col-md-12">
                    <div class="slider-container ">
                        <div id="so-slideshow" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 two-block">
                            <div class="module slideshow no-margin">
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/1.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/2.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/3.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/4.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/5.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/6.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/7.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="__PUBLIC__/Home/images/8.jpg" alt="slider3" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="loadeding"></div>
                        </div>

                        <div class="module  col-md-3  hidden-sm hidden-xs three-block ">
                            <div class="modcontent clearfix">
                                <div class="htmlcontent-block">
                                    <ul class="htmlcontent-home">
                                        <li>
                                            <div class="box_1">
                                                <h4 class="box"><span>店铺公告</span></h4>
                                                <div class="boxCenterList">
                                                    <p style="color:red;word-wrap: break-word;text-indent:2em;">
                                                        个人练手网站，不涉及一切金钱交易。如侵犯到您的权益，请联系我（gikinwing#163.com）。
                                                    </p>
                                                    <p style="word-wrap: break-word;text-indent:2em;">欢迎光临步步坚商城。我们的宗旨：诚信经营、服务客户！</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="banners">
                                                <div>
                                                    <a href="#"><img src="__PUBLIC__/Home/images/xmad_15211176909037_rchsK.jpg" alt="banner1"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module hidden-xs col-sm-12 four-block">
                            <div class="modcontent clearfix">
                                <div class="policy-detail">
                                    <div class="banner-policy">
                                        <div class="policy policy1"><a href="#"> <span class="ico-policy">&nbsp;</span> 7 天 <br> 无理由退换 </a></div>
                                        <div class="policy policy2"><a href="#"> <span class="ico-policy">&nbsp;</span> 急速物流<br>100+城市次日达 </a></div>
                                        <div class="policy policy3"><a href="#"> <span class="ico-policy">&nbsp;</span> 最低价格保证<br>保价30天 </a></div>
                                        <div class="policy policy4"><a href="#"> <span class="ico-policy">&nbsp;</span> 购物保障<br>保证100%原装正品 </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main-container container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="tab-slider titleLine" >
                    <h3 class="modtitle"><i id="bestIcon"></i>&nbsp;精品推荐</h3>
                    <div id="so_listing_tabs_1"  class="so-listing-tabs first-load">
                        <div  class="ltabs-wrap">
                            <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                                <!--Begin Tabs-->
                                <div  class="ltabs-tabs-wrap">
                                    <span class="ltabs-tab-selected" >全部商品</span> <span class="ltabs-tab-arrow">▼</span>
                                    <div class="item-sub-cat">
                                        <ul class="ltabs-tabs cf" >
                                            <foreach name="best_cat" key="k" item="v">
                                                <if condition="$k eq 0">
                                                    <li class="ltabs-tab tab-sel" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                <else/>
                                                    <li class="ltabs-tab" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                </if>
                                                <span class="ltab-tab-label">{$v.cat_name}</span>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Tabs-->
                            </div>
                            <!--End Items-->
                        </div>
                        <div class="ltabs-items-container" >
                            <div class="ltabs-items items-category-0 grid ltabs-items-selected" data-tab-load="0"></div>
                            <volist name="best_cat" id="v" offset="1">
                                <div class="ltabs-items items-category-{$v.cat_id} grid" data-tab-load="0"></div>
                            </volist>
                        </div>
                    </div>
                </div>
                <div class="module ">
                    <div class="modcontent clearfix">
                        <div class="banner-wraps ">
                            <div class="m-banner row">
                                <div class="banner htmlconten1 col-lg-8 col-md-8 col-sm-12 col-xs-12 one-block">
                                    <div class="banners">
                                        <div>
                                            <a href="#"><img src="__PUBLIC__/Home/images/ip7time.jpg" alt="banner1"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner htmlconten3 hidden-sm col-lg-4 col-md-4 col-sm-6 col-xs-12 two-block">
                                    <div class="banners">
                                        <div>
                                            <a href="#"><img src="__PUBLIC__/Home/images/mi.jpg" alt="banner1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-slider titleLine">
                    <h3 class="modtitle"><i id="newIcon"></i>&nbsp;新品上市</h3>
                    <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
                        <div id="new" class="ltabs-wrap ">
                            <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                                <!--Begin Tabs-->
                                <div class="ltabs-tabs-wrap">
                                    <span class="ltabs-tab-selected">全部商品</span> <span class="ltabs-tab-arrow">▼</span>
                                    <div class="item-sub-cat">
                                        <ul class="ltabs-tabs cf">
                                            <foreach name="new_cat" key="k" item="v">
                                                <if condition="$k eq 0">
                                                    <li class="ltabs-tab tab-sel" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                        <else/>
                                                    <li class="ltabs-tab" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                </if>
                                                <span class="ltab-tab-label">{$v.cat_name}</span>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Tabs-->
                            </div>
                            <!--End Items-->
                        </div>
                        <div class="ltabs-items-container" >
                            <div class="ltabs-items items-category-0 grid ltabs-items-selected" data-tab-load="0"></div>
                            <volist name="new_cat" id="v" offset="1">
                                <div class="ltabs-items items-category-{$v.cat_id} grid" data-tab-load="0"></div>
                            </volist>
                        </div>
                    </div>
                </div>
                <div class="module titleLine">
                    <h3 class="modtitle">特式品类</h3>
                    <div class="modcontent clearfix">
                        <div id="collections_block" class="clearfix block">
                            <ul class="width6">
                                <li class="collect collection_0">
                                    <div class="color_co"><a href="#">Furniture</a> </div>
                                </li>
                                <li class="collect collection_1">
                                    <div class="color_co"><a href="#">Gift idea</a> </div>
                                </li>
                                <li class="collect collection_2">
                                    <div class="color_co"><a href="#">Cool gadgets</a> </div>
                                </li>
                                <li class="collect collection_3">
                                    <div class="color_co"><a href="#">Outdoor activities</a> </div>
                                </li>
                                <li class="collect collection_4">
                                    <div class="color_co"><a href="#">Accessories for</a> </div>
                                </li>
                                <li class="collect collection_5">
                                    <div class="color_co"><a href="#">Women world</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-slider titleLine">
                    <h3 class="modtitle"><i id="hotIcon"></i>&nbsp;热销商品</h3>
                    <div id="so_listing_tabs_3" class="so-listing-tabs first-load module">
                        <div class="loadeding"></div>
                            <div id="hot" class="ltabs-wrap">
                                <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                                    <!--Begin Tabs-->
                                    <div class="ltabs-tabs-wrap">
                                        <span class="ltabs-tab-selected">全部商品</span> <span class="ltabs-tab-arrow">▼</span>
                                        <div class="item-sub-cat">
                                            <ul class="ltabs-tabs cf">
                                                <foreach name="hot_cat" key="k" item="v">
                                                    <if condition="$k eq 0">
                                                        <li class="ltabs-tab tab-sel" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                            <else/>
                                                        <li class="ltabs-tab" data-category-id="{$v.cat_id}" data-active-content=".items-category-{$v.cat_id}"  class="tab-sel" >
                                                    </if>
                                                    <span class="ltab-tab-label">{$v.cat_name}</span>
                                                    </li>
                                                </foreach>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Tabs-->
                                </div>

                                <!--End Items-->
                            </div>
                            <div class="ltabs-items-container" >
                                <div class="ltabs-items items-category-0 grid ltabs-items-selected" data-tab-load="0"></div>
                                <volist name="hot_cat" id="v" offset="1">
                                    <div class="ltabs-items items-category-{$v.cat_id} grid" data-tab-load="0"></div>
                                </volist>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Common/footer"/>
</div>

<!-- Preloading Screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloading Screen -->
<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/angular.min.js"></script>
<script>
    var root_url = '__ROOT__';
    var m = angular.module('app', []);
</script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/cart_nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/search.js"></script>
<!-- Theme files
============================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/application.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/owl.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/toppanel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/so_megamenu.js"></script>

</body></html>