<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs
	============================================ -->
    <title>{$keywords} - 商品搜索 - 步步坚商城</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="bookmark" href="__ROOT__/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="__ROOT__/favicon.ico" />

    <!-- Libs CSS
	============================================ -->
    <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/templet/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/templet/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/templet/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/templet/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/templet/css/responsive.css" rel="stylesheet">

</head>

<body class="res layout-subpage banners-effect-6">

<div id="wrapper" class="wrapper-full" ng-app="app">
    <!-- Header Container  -->
    <include file="Common/header"/>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="__ROOT__/"><i class="fa fa-home"></i></a></li>
            <li>心愿单商品</li>
        </ul>

        <div class="row">
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3" id="column-left">
                <div class="module latest-product titleLine">
                    <h3 class="modtitle">销售量</h3>
                    <div class="modcontent ">
                        <foreach name='sale' item="s">
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{:U('Home/goods/goods/',array('goods_id'=>$s['goods_id']))}">
                                            <img src="__ROOT__{$s['thumb_img']}" alt="{$s.goods_name}" title="{$s.goods_name}" class="img-responsive" style="width: 100px; height: 82px;"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4>
                                                <a href="{:U('Home/goods/goods/',array('goods_id'=>$s['goods_id']))}">{$s.goods_name}</a>
                                            </h4>
                                            <div class="price">
                                                <span class="price-new">￥{$s['shop_price']}</span>
                                            </div>
                                            <div class="rating-box">
                                                已售出<span class="sale_count">{$s['goods_number']}</span>件
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
                <div class="module latest-product titleLine">
                    <h3 class="modtitle">最近浏览</h3>
                    <div class="modcontent ">
                        <foreach name='history' item="h" key="k">
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{:U('Home/goods/goods/',array('goods_id'=>$k))}">
                                            <img src="__ROOT__{$h['thumb_img']}" alt="{$h['goods_name']}" title="{$h['goods_name']}" class="img-responsive" style="width: 100px; height: 82px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="{:U('Home/goods/goods/',array('goods_id'=>$k))}">{$h['goods_name']}</a></h4>

                                            <div class="price">
                                                <span class="price-new">￥{$h['shop_price']}</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>

                </div>
                <div class="module">
                    <div class="modcontent clearfix">
                        <div class="banners">
                            <div>
                                <a href="#"><img src="__PUBLIC__/Home/images/theme/left-image-static.png" alt="left-image"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </aside>
            <!--Left Part End -->

            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8" >
                <div class="products-category">
                    <notempty name="user_id">
                    <empty name="count">
                        <p style="margin-bottom:0">还没有心仪的商品，去逛逛呗<a href="__ROOT__">按此回首页</a></p>
                        <else/>
                        <!--changed listings-->
                        <div class="products-list row grid">
                            <foreach name="goods" item="g">
                                <div class="product-layout col-md-4 col-sm-6 col-xs-12" id="{$g.goods_id}">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <a href="__ROOT__/Home/goods/goods/goods_id/{$g['goods_id']}">
                                                    <img src="__ROOT__{$g['goods_img']}"  alt="{$g['goods_name']}" class="img-responsive" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="right-block" >
                                            <div class="caption">
                                                <h4><a href="__ROOT__/Home/goods/goods/goods_id/{$g['goods_id']}">{$g['goods_name']}</a></h4>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    </div>
                                                </div>

                                                <div class="price">
                                                    <span class="price-new">￥{$g.shop_price}</span>
                                                </div>
                                            </div>

                                            <div class="button-group">
                                                <button class="addToCart" type="button" data-toggle="tooltip" title="加入购物车" onclick="cart.add('{$g.goods_id}')">
                                                    <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">买买买！</span>
                                                </button>
                                                <button class="compare" type="button" data-toggle="tooltip" title="加入对比列表" onclick="compare.add('{$g.goods_id}')"><i class="fa fa-exchange"></i></button>
                                                <button class="wishlist" type="button" data-toggle="tooltip" title="取消关注" onclick="wishlist.del('{$g.goods_id}')"><i class="fa fa-close"></i> <span class="hidden-xs">取消关注</span></button>
                                            </div>
                                        </div><!-- right block -->
                                    </div>
                                </div>
                            </foreach>
                        </div>
                        <!--// End Changed listings-->
                    </empty>
                        <else/>
                        <p style="margin-bottom:0">您还没登录，按此<a href="{:U('home/user/login')}">登录</a></p>
                    </notempty>
                </div>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
    <!-- //Main Container -->


    <!-- Footer Container -->
    <include file="Common/footer"/>
    <!-- //end Footer Container -->

</div>

<!-- Cpanel Block -->
<div id="sp-cpanel_btn" class="isDown visible-lg">
    <i class="fa fa-cog"></i>
</div>

<div id="sp-cpanel" class="sp-delay">
    <h2 class="sp-cpanel-title"> Demo Options <span class="sp-cpanel-close"> <i class="fa fa-times"> </i></span></h2>
    <div id="sp-cpanel_settings">
        <div class="panel-group">
            <label>Color Scheme</label>
            <div class="group-schemes" >
                <span data-scheme="default"  class="item_scheme selected"><span style="background: #e8622d;"></span></span>
                <span data-scheme="blue" class="item_scheme"><span style="background: #478bca;"></span></span>
                <span data-scheme="boocdo"  class="item_scheme"><span style="background: #e54e4e;"></span></span>
                <span data-scheme="cyan" class="item_scheme"><span style="background: #1ea181;"></span></span>
                <span data-scheme="green" class="item_scheme "><span style="background: #52a633;"></span></span>

            </div>
        </div>

        <div class="panel-group ">
            <label>Header style</label>
            <div class="group-boxed">
                <select id="change_header_type" name="cpheaderstype" class="form-control" onchange="headerTypeChange(this.value);">
                    <option value="header-home1" >Header 1</option>
                    <option value="header-home2" >Header 2</option>
                    <option value="header-home3" >Header 3</option>
                    <option value="header-home4" >Header 4</option>
                </select>
            </div>
        </div>


        <div class="panel-group ">
            <label>Layout Box</label>
            <div class="group-boxed">
                <select id="cp-layoutbox" name="cplayoutbox" class="form-control" onchange="changeLayoutBox(this.value);">
                    <option value="full">Wide</option>
                    <option value="boxed">Boxed</option>
                    <option value="iframed">Iframed</option>
                    <option value="rounded">Rounded</option>
                </select>
            </div>
        </div>

        <div class="panel-group">
            <label>Body Image</label>

            <div class="group-pattern">
                <div data-pattern="28"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/28.png" alt="pattern 28"></div>
                <div data-pattern="29"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/29.png" alt="pattern 29"></div>
                <div data-pattern="30"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/30.png" alt="pattern 30"></div>
                <div data-pattern="31"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/31.png" alt="pattern 31"></div>
                <div data-pattern="32"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/32.png" alt="pattern 32"></div>
                <div data-pattern="33"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/33.png" alt="pattern 33"></div>
                <div data-pattern="34"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/34.png" alt="pattern 34"></div>
                <div data-pattern="35"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/35.png" alt="pattern 35"></div>
                <div data-pattern="36"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/36.png" alt="pattern 36"></div>
                <div data-pattern="37"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/37.png" alt="pattern 37"></div>
                <div data-pattern="38"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/38.png" alt="pattern 38"></div>
                <div data-pattern="39"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/39.png" alt="pattern 39"></div>
                <div data-pattern="40"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/40.png" alt="pattern 40"></div>
                <div data-pattern="41"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/41.png" alt="pattern 41"></div>
                <div data-pattern="42"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/42.png" alt="pattern 42"></div>
                <div data-pattern="43"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/43.png" alt="pattern 43"></div>
                <div data-pattern="44"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/44.png" alt="pattern 44"></div>
                <div data-pattern="45"  class="img-pattern"><img src="__PUBLIC__/Home/templet/images/patterns/45.png" alt="pattern 45"></div>
            </div>
            <p class="label-sm">Background only applies for Boxed,Framed, Rounded Layout</p>
        </div>

        <div class="reset-group">
            <a href="__SELF__" class="btn btn-success " onclick="ResetAll()">Reset</a>
        </div>

    </div>

</div>



<link rel='stylesheet' property='stylesheet'  href='__PUBLIC__/Home/templet/css/themecss/cpanel.css' type='text/css' media='all' />


<!-- Preloading Screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloading Screen -->

<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/angular-ui-bootstrap.js"></script>
<script>
    var root_url = '__ROOT__';
    var m = angular.module('app', ['ui.bootstrap']);
</script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/cart_nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/search.js"></script>
<!-- Theme files
============================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/application.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/cpanel.js"></script>

</body>
</html>
