<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic page needs
    ============================================ -->
	<title>购物车 - 步步坚商城</title>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="author" content="Magentech">
	<meta name="robots" content="index, follow" />

	<!-- Mobile specific metas
    ============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Favicon
    ============================================ -->
	<link rel="bookmark" href="__ROOT__/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="__ROOT__/favicon.ico" />

	<!-- Libs CSS
    ============================================ -->
	<link href="__PUBLIC__/Home/css/cart.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/Home/templet/css/bootstrap/css/bootstrap.min.css">
	<link href="__PUBLIC__/Home/templet/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Theme CSS
    ============================================ -->
	<link href="__PUBLIC__/Home/templet/css/themecss/so_megamenu.css" rel="stylesheet">
	<link id="color_scheme" href="__PUBLIC__/Home/templet/css/theme.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/templet/css/responsive.css" rel="stylesheet">

</head>
<body class="res layout-subpage">
<div id="wrapper" class="wrapper-full" ng-app="app">
	<!-- Header Container  -->
	<include file="Common/header"/>
	<!-- //Header Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="__ROOT__/"><i class="fa fa-home"></i></a></li>
			<li>确认订单</li>
		</ul>

		<if condition="$error eq 1">
			<h3 style="margin-bottom:0">订单号已超时失效或没登录或没挑选商品，按此<a href="{:U('Home/user/login')}">登录</a>或回<a href="__ROOT__/">首页</a></h3>
			<else/>
			<form action="done" method="post" name="theForm" id="theForm">
				<div class="checkout-steps" ng-controller="order">
					<my-address data="data" size="size" selected_curr="selected_curr" user_id={$user_id}></my-address>

					<script type="text/ng-template" id="address.html">
						<div>
							<div class="step-tit">
								<h3 class="pull-left check-title">收货人信息</h3>
								<a class="pull-right" ng-click="add()">新增收货地址</a>
							</div>
							<div class="step-cont">
								<div class="consignee-content">
									<div class="consignee-scroll">
										<div class="consignee-cont" >
											<ul class="consignee-list">
												<li class="ui-switchable-panel" ng-repeat="v in data" ng-show="addr || v.select==1">
													<div class="consignee-item" ng-class="{'item-selected':v.select == 1}" ng-click="cancleSelect(v.address_id);v.select = 1;">
														<span>{{v.address_name}}</span><b></b>
													</div>
													<div class="addr-detail">
														<span>{{v.consignee}}</span>
														<span>{{v.province_name}} {{v.city_name}} {{v.district_name}} {{v.address}}</span>
														<span>{{v.mobile | truncate:6}}</span>
														<span class="addr-default"  ng-show="v.default == 1">默认地址</span>
													</div>
													<div class="op-btns">
														<a href="javascript:void(0)" class="ftx-05 edit-consignee" ng-show="v.default == 0" ng-click="dt(v.address_id)">设为默认地址</a>
														<a href="javascript:void(0)" class="ftx-05 edit-consignee" ng-click="edit(v)">编辑</a>
														<a href="javascript:void(0)" class="ftx-05 edit-consignee" ng-show="v.select == 0" ng-click="remove(v.address_id)">删除</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="addr-switch switch-on" ng-init="addr=false" ng-show="!addr" ng-click="addr=!addr">
									<span>更多地址</span>
									<b></b>
								</div>
								<div class="addr-switch switch-off" ng-show="addr" ng-click="addr=!addr">
									<span>收起地址</span>
									<b></b>
								</div>
							</div>
							<div class="thickbox" ng-show="show">
								<div class="thicktitle">
									<span>{{action}}</span>
									<div class="extra">
										<a class="del-btn" role="button" ng-click="show=false;setEmpty()"></a>
									</div>
								</div>
								<div class="thickcon">
									<div class="m" id="edit-cont">
										<div class="item clearfix">
											<label>
												<em>*</em>收货人
											</label>
											<div class="pull-left">
												<input ng-model="name" type="text" class="text" />
												<span class="error-msg" ng-bind="name_err"></span>
											</div>
										</div>
										<div class="item clearfix">
											<label>
												<em>*</em>所在地区
											</label>
											<div class="ui-area-wrap pull-left" ng-mouseover="area=true" ng-mouseleave="area=false"  ng-class="{'ui-area-hover':area}">
												<div class="ui-area-text-wrap">
													<div ng-init="sjld_show='--请选择--'" ng-bind="sjld_show"></div>
													<span class="fa fa-angle-down fa-lg"></span>
												</div>
												<div class="ui-area-content-wrap" ng-init="var='province'">
													<div class="ui-area-tab">
														<a class="ui-switchable-item" ng-class="{'ui-area-current':var=='province'}"  ng-click="var='province'" title="{{se_province.region_name}}" >
															<em ng-bind="se_province.region_name"></em><i></i>
														</a>
														<a class="ui-switchable-item" ng-class="{'ui-area-current':var=='city'}" ng-hide="se_province.region_name=='请选择'" ng-click="var='city'" title="{{se_city.region_name}}">
															<em ng-bind="se_city.region_name"></em><i></i>
														</a>
														<a class="ui-switchable-item" ng-class="{'ui-area-current':var=='district'}" ng-hide="se_city.region_name=='请选择'" ng-click="var='district'" title="{{se_district.region_name}}">
															<em ng-bind="se_district.region_name"></em><i></i>
														</a>
													</div>
													<div class="ui-area-content" ng-switch="var">
														<div class="ui-switchable-panel" ng-switch-when="province">
															<ul class="ui-area-content-list">
																<li ng-repeat="p in province">
																	<a href="javascript:void(0)" ng-mousedown="setSJLD($event,1,p.region_name,p.region_id)">{{p.region_name}}</a>
																</li>
															</ul>
														</div>
														<div class="ui-switchable-panel" ng-switch-when="city">
															<ul class="ui-area-content-list">
																<li ng-repeat="c in city">
																	<a href="javascript:void(0)" ng-mousedown="setSJLD($event,2,c.region_name,c.region_id)">{{c.region_name}}</a>
																</li>
															</ul>
														</div>
														<div class="ui-switchable-panel" ng-switch-when="district">
															<ul class="ui-area-content-list">
																<li ng-repeat="d in district">
																	<a href="javascript:void(0)" ng-mousedown="setSJLD($event,3,d.region_name,d.region_id)">{{d.region_name}}</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="ui-area-close"></div>
												</div>
												<span class="error-msg" ng-bind="sjld_err"></span>
											</div>
										</div>
										<div class="item clearfix">
											<label>
												<em>*</em>详细地址
											</label>
											<div class="pull-left">
												<input ng-model="address" type="text" class="text" size="80"/>
												<p><span class="error-msg" ng-bind="address_err"></span></p>
											</div>
										</div>
										<div class="item clearfix">
											<div class="pull-left">
												<label>
													<em>*</em>手机号码
												</label>
												<div class="pull-left">
													<input ng-model="mobile" type="text" class="text" />
												</div>
											</div>
											<div class="pull-left">
												<span class="extra-span ftx-03">或</span>
											</div>
											<div class="pull-left">
												<label>
													固定号码
												</label>
												<div class="pull-left">
													<input ng-model="tel" type="text" class="text" />
													<span class="error-msg" ng-bind="mobile_err"></span>
												</div>
											</div>
										</div>
										<div class="item clearfix">
											<label>邮箱</label>
											<div class="pull-left">
												<input ng-model="email" type="text" class="text" size="50"/>
												<span class="error-msg" ng-bind="email_err"></span>
											</div>
										</div>
										<div class="item clearfix">
											<label>地址别名</label>
											<div class="pull-left">
												<input ng-model="address_name" type="text" class="text" />
												<span class="error-msg" ng-bind="address_name_err"></span>
												<span class="ftx-03">建议填写常用名称</span>
												<span class="addr-alias">
												<a id="Home" ng-click="address_name='家里'">家里</a>
												<a id="parentHome" ng-click="address_name='父母家'">父母家</a>
												<a id="company" ng-click="address_name='公司'">公司</a>
											 </span>
											</div>
										</div>
										<div class="btns">
											<button type="button" class="btn btn-primary" ng-click="save()">保存收货地址</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<button type="button" class="btn btn-default disabled">设置支付和配送方式</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input name="address_id" value="{{selected_curr}}" type="hidden">
					</script>
					<div class="hr"></div>

					<div>
						<div class="step-tit">
							<h3 class="pull-left check-title">送货清单</h3>
						</div>
						<div class="order-cont">
							<ul class="goods-list">
								<foreach name="cart" item="c">
									<li class="clearfix">
										<div class="col"><a href="{:U('Home/goods/goods/',array('goods_id'=>$c['goods_id']))}" target="_blank">
											<img src="__ROOT__{$c['thumb_img']}" alt="{$c.goods_name}" title="{$c.goods_name}" width="40" height="40"></a>
										</div>
										<div class="col col-name"><a href="{:U('Home/goods/goods/',array('goods_id'=>$c['goods_id']))}" target="_blank">{$c['goods_name']}</a></div>
										<div class="col col-price">{$c['shop_price']}元</div>
										<div class="col col-qty">X {$c['num']}</div>
										<div class="col col-total">{$c['shop_price']*$c['num']}元</div>
									</li>
								</foreach>
							</ul>
						</div>
					</div>
					<div class="hr"></div>

					<div>
						<div class="step-tit">
							<h3 class="pull-left check-title">配送方式</h3>
							<span class="selected">包邮</span>
						</div>
					</div>
					<div class="hr"></div>

					<div style="min-height:230px">
						<div class="step-tit">
							<h3 class="pull-left check-title">发票</h3>
							<span class="selected">电子发票&nbsp;&nbsp;&nbsp;个人&nbsp;&nbsp;&nbsp;商品明细&nbsp;&nbsp;&nbsp;</span>
							<a href="#" class="selected">修改></a>
						</div>
						<div class="order-cont clearfix" style="margin-top:30px;position:relative">
							<div class="pull-left clearfix">
								<i class="iconfont icon-plus">&#xe7ba;</i>
								<span>使用优惠券</span>
							</div>
							<div class="money-box">
								<ul>
									<li><label>商品件数：</label><span class="val">{$total_qty}件</span></li>
									<li><label>商品总价：</label><span class="val">{$total}元</span></li>
									<li><label>优惠券抵扣：</label><span class="val">-0元</span></li>
									<li><label>运费：</label><span class="val">0元</span></li>
									<li class="total-price"><label>应付总额：</label><span class="val"><em>{$total}元</em></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div style="margin:8px auto;" align="center">
					<input src="__PUBLIC__/Home/images/bnt_subOrder.gif" type="image">
					<input name="total" value="{$total}" type="hidden">
					<input name="goods_id" value="{$goods_id}" type="hidden">
					<input name="each_qty" value="{$each_qty}" type="hidden">
					<input name="ord_sn" value="{$rid}" type="hidden">
					<input name="user_id" value="{$user_id}" type="hidden">
				</div>
			</form>
		</if>
	</div>
	<!-- Footer Container -->
	<include file="Common/footer"/>
	<!-- //end Footer Container -->
</div>
<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/angular.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/angular-ui-bootstrap.js"></script>
<script>
    var root_url = '__ROOT__';
    var m = angular.module('app', ['ui.bootstrap']);
</script>
<script src="__PUBLIC__/Home/js/ar.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/cart_nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/search.js"></script>
<!-- Theme files
============================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/templet/js/themejs/application.js"></script>
<script>
    m.controller('order', function (arServer,$scope) {
        arServer.ar({$user_id}).then(function(res){
            $scope.data = res.data;
            $scope.size = Object.keys($scope.data).length;
            no_def = true;
            $scope.selected_curr = 0;
            $scope.data.forEach(function (v) {
                if(v.default == 1) {
                    v.select = 1;
                    $scope.selected_curr = v.address_id;
                    no_def = false;
				}else{
                    v.select = 0;
				}
            });
            if(no_def){
                $scope.data[0].select = 1;
                $scope.selected_curr = $scope.data[0].address_id;

            }

        });
    });

    m.directive('myAddress',  function (arServer) {
        return {
            restrict: 'E',
			scope: {
                data: '=',
				size: '=',
				selected_curr: '=selectedCurr',
				user_id: '@userId'
			},
			templateUrl: 'address.html',
            link: function ($scope) {
                $scope.se_province = $scope.se_city = $scope.se_district = {};
                $scope.se_province.region_name = '请选择';
                //取所有的province省数据
                arServer.getRegion(1,1).then(function(res){
                    $scope.province = res.data;
                });

                $scope.dt = function(address_id) {
                    arServer.setDt(address_id).then(function(res){
                        if(res.data == "done") {
                            $scope.data.forEach(function (v) {
                                v.default = 0;
                                if(v.address_id == address_id ){
                                    v.default = 1;
								}
                            });
                        }else{
                            alert("error-setDt")
                        }
                    })
                };

                /*取消所有地址选中，现在选中的记录address_id*/
                $scope.cancleSelect = function(aid) {
                    $scope.data.forEach(function (v) {
                        v.select = 0;
                    });
                    $scope.selected_curr = aid;
				};

                //弹出 添加收货地址框
                $scope.add = function(){
                    if($scope.size == 10){
                        alert("最多只能创建10个地址，您已达上限。")
                    }else {
                        $scope.show = true;
                        $scope.action = "添加收货地址";
                    }
                };

                //弹出 编辑收货地址框 数据初始化
                $scope.edit = function(item){
                    $scope.address_id = item.address_id;
                    $scope.name= item.consignee;
                    $scope.address=item.address;
                    $scope.mobile=item.mobile;
                    $scope.address_name=item.address_name;
                    $scope.tel=item.tel;
                    $scope.email=item.email;
                    $scope.se_province = {region_id:item.province,region_name:item.province_name};
                    $scope.temp_province = $scope.se_province.region_name;//保存选择好的省名称，如用户没打地址别名，可以用上
                    $scope.se_city = {region_id:item.city,region_name:item.city_name};
                    $scope.se_district = {region_id:item.district,region_name:item.district_name}
                    $scope.sjld = [$scope.se_province.region_id,$scope.se_city.region_id,$scope.se_district.region_id];
                    $scope.sjld_show = $scope.se_province.region_name + '/' +$scope.se_city.region_name + '/' + $scope.se_district.region_name;//用于显示
                    $scope.var = 'province';
                    arServer.getRegion(2,$scope.se_province.region_id).then(function(res){
                        $scope.city = res.data;
                    });
                    arServer.getRegion(3,$scope.se_city.region_id).then(function(res){
                        $scope.district = res.data;
                    });

                    $scope.show = true;
                    $scope.action = "编辑收货地址";
                };

                //清空XX收货地址弹出框 数据
                $scope.setEmpty = function() {
                    $scope.show = false;
                    $scope.address_id=$scope.name=$scope.address=$scope.mobile=$scope.address_name=$scope.tel=$scope.email=$scope.temp_province= '';
                    $scope.sjld = $scope.se_province = $scope.se_city = $scope.se_district = {};
                    $scope.se_province.region_name =  '请选择';
                    $scope.sjld_show='--请选择--';
                    $scope.var = 'province';
                };

				/* 三级联动处理
				 @param region_type 1－省 2－市 3－区
				 @param region_name 具体地方名字，包含所有省市区的名字，例如北京、海珠区
				 @param region_id 表自增ID
				 */
                $scope.setSJLD = function($event,region_type,region_name,region_id){
                    if($event.button==0) {
                        switch (region_type) {
                            case 1:
                                $scope.se_province = {region_id:region_id,region_name:region_name};
                                arServer.getRegion(2,region_id).then(function(res){
                                    $scope.city = res.data;
                                });
                                $scope.var = 'city';
                                $scope.se_city.region_name = $scope.se_district.region_name ='请选择';
                                break;
                            case 2:
                                $scope.se_city = {region_id:region_id,region_name:region_name};
                                arServer.getRegion(3,region_id).then(function(res){
                                    $scope.district = res.data;
                                });
                                $scope.var = 'district';
                                $scope.se_district.region_name = '请选择';
                                break;
                            case 3:
                                $scope.se_district = {region_id:region_id,region_name:region_name};
                                $scope.area = false;
                                $scope.sjld = [$scope.se_province.region_id,$scope.se_city.region_id,$scope.se_district.region_id];//保存选择好的，省市区
                                $scope.temp_province = $scope.se_province.region_name;//保存选择好的省名称，如用户没打地址别名，可以用上
                                $scope.sjld_show = $scope.se_province.region_name + '/' +$scope.se_city.region_name + '/' + $scope.se_district.region_name;//用于显示
                                break;
                        }
                    }
                };

                $scope.save = function() {
                    $scope.name_err=$scope.sjld_err=$scope.address_err=$scope.mobile_errr=$scope.mobile_err=$scope.email_err =$scope.address_name_err="";
                    var err = false,
                        reg = /^[\u4e00-\u9fa5a-zA-Z]{1,60}$/;
                    if(!$scope.name) {
                        $scope.name_err = "请填写收货人名字";
                        err = true;
                    }else if(!reg.test($scope.name)) {
                        $scope.name_err = "名字只能是中文或英文";
                        err = true;
                    }

                    if(!$scope.sjld){
                        $scope.sjld_err = "请选择完整区域信息";
                        err = true;
                    }

                    reg = /^[\u4e00-\u9fa50-9a-zA-Z-_]{1,120}$/;
                    if(!$scope.address) {
                        $scope.address_err = "请填写详细收货地址";
                        err = true;
                    }else if(!reg.test($scope.address)) {
                        $scope.address_err = "只能填写中文英文或数字";
                        err = true;
                    }

                    reg = /^[0-9]{11}$/;
                    if(!$scope.mobile) {
                        $scope.mobile_err = "请填写手机号码";
                        err = true;
                    }else if (!reg.test($scope.mobile)){
                        $scope.mobile_err = "手机号码格式错误";
                        err = true;
                    }
                    reg = /^[0-9-]{8,15}$/;
                    if($scope.tel && !reg.test($scope.tel)) {
                        $scope.mobile_err = "固定电话格式错误";
                        err = true;
                    }

                    reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                    if ($scope.email &&!reg.test($scope.email)){
                        $scope.email_err = "邮件地址格式错误";
                        err = true;
                    }

                    reg = /^[\u4e00-\u9fa50-9a-zA-Z-]{1,50}$/;
                    if ($scope.address_name && !reg.test($scope.address_name)){
                        $scope.address_name_err = "地址别名只是能是中文、英文或数字";
                        err = true;
                    }

                    //自动填写“地址别名”，如果是修改，是自动填写的地址别名都带－，强制更新
                    if(!$scope.address_name || $scope.address_name.indexOf("-") != -1) {
                        $scope.address_name = $scope.name + '-' + $scope.temp_province;
                    }
                    if(!err){
                        if(!$scope.address_id) {
                            arServer.addAddress($scope.user_id, $scope.name, $scope.sjld, $scope.address, $scope.mobile, $scope.address_name, $scope.tel, $scope.email)
                                .then(function (res) {
                                    if (res.data == "done") {
                                        arServer.ar($scope.user_id).then(function (res) {
                                            $scope.data = res.data;
                                            $scope.size = Object.keys($scope.data).length;
                                            max_address_id = 0;
                                            $scope.data.forEach(function (v,k) {
                                                if (v.address_id > max_address_id) {
                                                    max_address_id = v.address_id;
                                                    max_address_id_key = k;
                                                }
                                                v.select = 0;
                                            });
                                            $scope.data[max_address_id_key].select = 1;
                                        });
                                    }
                                })
                        }else {
                            address_id = $scope.address_id;
                            arServer.editAddress($scope.address_id,$scope.user_id, $scope.name, $scope.sjld, $scope.address, $scope.mobile, $scope.address_name, $scope.tel, $scope.email)
                                .then(function (res) {
                                    if (res.data == "done") {
                                        arServer.arOne(address_id).then(function (res) {
                                            if(!res.data.error){
                                                $scope.data.forEach(function (v,k) {
                                                    if(v.address_id == address_id ){
                                                        $scope.data[k] = res.data;
                                                        $scope.data[k].select = 1;
                                                    }else{
                                                        $scope.data[k].select = 0;
                                                    }
                                                });
											}else {
                                                alert(res.data.msg);
                                            }
                                        });
                                    }
                                })
                        }
                        $scope.setEmpty();
                    }
                };

                $scope.remove = function(aid,dt){
                    if(confirm("你确定要删除该收货地址吗？")) {
                        try{
                            $scope.data.forEach(function (v) {
                                if (v.select == 1) {
                                    curr_select_aid = v.address_id;
                                    throw new Error('end');
                                }
                            });
                        }catch(e){
                            if(e.message!='end') throw e;
						}

                        arServer.delAddress(aid).then(function(res) {
                            if(res.data == "done") {
                                arServer.ar($scope.user_id).then(function(res){
                                    $scope.data = res.data;
                                    $scope.size = Object.keys($scope.data).length;
                                    $scope.data.forEach(function (v) {
                                        if(v.address_id == curr_select_aid) {
                                            v.select = 1;
                                        }else {
                                            v.select = 0;
                                        }
                                    });
                                });
                            }
                        })
                    }
                }
            }
        }
    });

    //过滤电话号码
    m.filter('truncate',function(){
        return function(mobile){
            return mobile.substr(0,3) + new String('*').repeat(4) + mobile.substr(7);
        }
    });
</script>
</body></html>
